body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  width: 100%;

  .header {
    width: 100%;
    height: 80vh;
    background: #FFFFFF;
  }

  .content {
    height: 200vh;
    background: #EEEEEE;

    .in-content-uberlax {
      height: 90vh;
      margin-top: 200px;
    }
  }
}
